In [1]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\program files\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\program files\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python312\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\atchaya raveendran\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\atchaya raveendran\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

# Read the Excel file

df = pd.read_excel(r"C:\Users\Atchaya Raveendran\Downloads\traffic_stops.xlsx")

# Display first few rows
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [4]:
# Check for missing values
print(df.isnull().sum())

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [5]:
print(df.dtypes)

stop_date             datetime64[ns]
stop_time                     object
country_name                  object
driver_gender                 object
driver_age_raw                 int64
driver_age                     int64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
drugs_related_stop              bool
vehicle_number                object
dtype: object

In [6]:
df['stop_datetime'] = pd.to_datetime(
    df['stop_date'].dt.strftime('%Y-%m-%d') + ' ' + df['stop_time'].astype(str),
    format='%Y-%m-%d %H:%M:%S'
)
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,stop_datetime
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00

In [7]:
print(df.dtypes)

stop_date             datetime64[ns]
stop_time                     object
country_name                  object
driver_gender                 object
driver_age_raw                 int64
driver_age                     int64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
drugs_related_stop              bool
vehicle_number                object
stop_datetime         datetime64[ns]
dtype: object

In [8]:


#  If search_conducted is False (or 'No'), fill search_type with 'No Search'
df.loc[df['search_conducted'] == False, 'search_type'] = df.loc[
    df['search_conducted'] == False, 'search_type'
].fillna('No Search')

# If search_conducted is True (or 'Yes') and search_type is still missing, fill with 'Unknown'
df.loc[df['search_conducted'] == True, 'search_type'] = df.loc[
    df['search_conducted'] == True, 'search_type'
].fillna('Unknown')

#  check result
print(df['search_type'].value_counts(dropna=False))

search_type
Frisk             21971
Vehicle Search    21847
Unknown           10870
No Search         10850
Name: count, dtype: int64

In [9]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\program files\python312\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
pip install cryptography

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cryptography in c:\program files\python312\lib\site-packages (45.0.5)
Requirement already satisfied: cffi>=1.14 in c:\program files\python312\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\program files\python312\lib\site-packages (from cffi>=1.14->cryptography) (2.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pymysql

conn_pymysql = pymysql.connect(
    host="localhost",
    user="root",
    password="root"
)
cursor_pymysql = conn_pymysql.cursor()

print("Connected to MySQL server!")


cursor_pymysql.execute("CREATE DATABASE IF NOT EXISTS traffic_stops")
print("Database 'traffic_stops' created!")

Connected to MySQL server!
Database 'traffic_stops' created!

In [12]:
cursor_pymysql.execute("USE traffic_stops;")

0

In [13]:
cursor_pymysql.execute("""
    CREATE TABLE IF NOT EXISTS traffic_stops (
        id INT AUTO_INCREMENT PRIMARY KEY,
        stop_date DATE,
        stop_time TIME,
        country_name VARCHAR(100),
        driver_gender VARCHAR(10),
        driver_age_raw INT,
        driver_age INT,
        driver_race VARCHAR(50),
        violation_raw VARCHAR(100),
        violation VARCHAR(100),
        search_conducted BOOLEAN,
        search_type VARCHAR(100),
        stop_outcome VARCHAR(100),
        is_arrested BOOLEAN,
        drugs_related_stop BOOLEAN,
        stop_duration VARCHAR(50),
        vehicle_number VARCHAR(50),
        stop_datetime DATETIME
    )
""")

conn_pymysql.commit()
print("Table created.")

Table created.

In [14]:
pip install sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\atchaya raveendran\appdata\roaming\python\python312\site-packages (2.0.41)
Requirement already satisfied: pymysql in c:\program files\python312\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\atchaya raveendran\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atchaya raveendran\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:root@localhost/traffic_stops")
df.to_sql("traffic_stops", engine, if_exists="append", index=False) 
print("Data inserted using to_sql()")

Data inserted using to_sql()

In [16]:
df = pd.read_sql("SELECT * FROM traffic_stops", conn_pymysql)

print(df.head())  # Show first few rows

C:\Users\Atchaya Raveendran\AppData\Local\Temp\ipykernel_12532\4079878747.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM traffic_stops", conn_pymysql)

   id   stop_date       stop_time country_name driver_gender  driver_age_raw  \
0   1  2020-01-01 0 days 00:00:00       Canada             M              59
1   2  2020-01-01 0 days 00:01:00        India             M              35
2   3  2020-01-01 0 days 00:02:00          USA             M              26
3   4  2020-01-01 0 days 00:03:00       Canada             M              26
4   5  2020-01-01 0 days 00:04:00       Canada             M              62

   driver_age driver_race     violation_raw violation  search_conducted  \
0          19       Asian     Drunk Driving  Speeding                 1
1          58       Other             Other     Other                 0
2          76       Black  Signal Violation  Speeding                 0
3          76       Black          Speeding       DUI                 1
4          75       Other          Speeding     Other                 0

      search_type stop_outcome  is_arrested  drugs_related_stop stop_duration  \
0  Vehicle Search       Ticket            1                   1     16-30 Min
1  Vehicle Search       Arrest            1                   1     16-30 Min
2           Frisk       Ticket            1                   1     16-30 Min
3           Frisk      Warning            0                   1      0-15 Min
4  Vehicle Search       Arrest            1                   0     16-30 Min

  vehicle_number       stop_datetime
0     UP76DY3473 2020-01-01 00:00:00
1     RJ83PZ4441 2020-01-01 00:01:00
2     RJ32OM7264 2020-01-01 00:02:00
3     RJ76TI3807 2020-01-01 00:03:00
4     WB63BB8305 2020-01-01 00:04:00